.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.title {
    width: 100px;
    margin: 0 auto;
    font-size: 24px;
}

.text {
    font-size: 20px;
    font-weight: 300;
    margin: 20px;
    line-height: 24px;
}

.text a {
    margin: 0 6px;
    font-weight: 600;
    text-decoration: none;
    color: inherit;
}

.dataText {
    font-size: 18px;
}

.dataText div span {
    font-weight: 600;
}

.textFild {
    margin: 10px 0;
    font-size: 20px;
}